<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name"
                    defaultValue="spring-cloud-saas-xxl-job"/>
    <springProperty scope="context" name="LOGGER_LEVEL" source="logging.level.root" defaultValue="INFO"/>

    <property name="DEFAULT_LOG_PATH" value="/opt/spring-cloud-saas-logger"/>

    <property name="OS_NAME" value="${os.name}"/>
    <if condition='property("OS_NAME").contains("Windows")'>
        <then>
            <property name="LOG_PATH" value="${LOG_PATH:-D:${DEFAULT_LOG_PATH}}"/>
        </then>
        <else>
            <property name="LOG_PATH" value="${LOG_PATH:-${DEFAULT_LOG_PATH}}"/>
        </else>
    </if>

    <property name="LOG_FILE"
              value="${LOG_PATH}/${APP_NAME}"/>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_FILE}/${APP_NAME}-logger-root.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${LOGGER_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="fileAppender"/>
    </root>

</configuration>